@model IEnumerable<ChatApp.EF.ThongTinNhom>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenTaiKhoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nhom.TenNhom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenTaiKhoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nhom.TenNhom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaThongTinNhom }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaThongTinNhom }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaThongTinNhom })
        </td>
    </tr>
}

</table>
