@model IEnumerable<ChatApp.EF.TaiKhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<section class="content container-fluid">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Danh sách tài khoản</h3>
            <h3>@Html.ActionLink("Tạo mới", "Create")</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MatKhau)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TenHienThi)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HinhAnh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SoDienThoai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LoaiTaiKhoan.TenLoaiTaiKhoan)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MatKhau)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenHienThi)
                            </td>
                            <td>
                                <img src="~/Public/Upload/Img_TaiKhoan/@item.HinhAnh" style="width:100px;height:100px" alt="Alternate Text" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoDienThoai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoaiTaiKhoan.TenLoaiTaiKhoan)
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.TenTaiKhoan }) |
                                @Html.ActionLink("Chi tiết", "Details", new { id = item.TenTaiKhoan }) |
                                @Html.ActionLink("Xoá", "Delete", new { id = item.TenTaiKhoan })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section script{
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}
