@model ChatApp.EF.ChuDe

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<section class="content container-fluid">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Chi tiết</h3>
        </div>

        <div>
            <h4>Chủ đề</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TenChuDe)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TenChuDe)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DanhMuc.TenDanhMuc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DanhMuc.TenDanhMuc)
                </dd>

            </dl>
        </div>
        <div class="box-footer">
            @Html.ActionLink("Sửa", "Edit", new { id = Model.MaChuDe }) |
            @Html.ActionLink("Danh sách", "Index")
        </div>

</section>